
        <%= link_to "add store", new_store_path if user_signed_in? %>
       <div class="inv" id="inv">
        <% @stores.each do |i|%>

        <div class="item">
            <h3><%= link_to i.name, store_path(i.id) %></h3>
            <%=i.address %>
            <%=i.phone %>    
        </div>
        <% end%> 
       </div>
       